</body>
<!-- Footer Section -->
<section>

  <footer id="footer" class="blue-light white-section">
    <div class="container-fluid container-general">
      <i class="fab fa-twitter fab-footer"></i>
      <i class="fab fa-facebook-f fab-footer"></i>
      <i class="fab fa-instagram fab-footer"></i>
      <i class="fas fa-envelope fab-footer"></i>
      <p>© Copyright 2019 Simutrack</p>
    </div>

  </footer>

</section>
</html>
