<%- include("partials/header") -%>
  <!-- Nav Bar -->
  <section id="navigation">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href=""><span class="fas fa-dna"></span> Simutrack</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
              <a class="nav-link" href="#title">Registrarse</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/login">Acceder</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#footer">Contacto</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#info-cards">Explora</a>
            </li>

          </ul>
        </div>
      </nav>
    </div>
  </section>

  <!-- Title and sign-up -->
  <section class="blue-strong" id="title">
    <div class="container-fluid container-general">

      <div class="row">
        <div class="col-lg-6">
          <h1 class="title-heading">Mejora tus habilidades quirúrgicas</h1>
          <p class="title-text">Simutrack es una aplicación web que te permite
            registar tus avanaces de habilidades quirurgicas usando un <strong>simulador</strong>
            físico  para <strong>cirugía laparoscópica</strong> así como guía para diferentes
            actividades de entrenamiento quirúrgico.
          </p>
        </div>

        <!-- Sign Up Card -->
        <div class="col-lg-6">
          <div class="card class sign-up">
            <div class="card-body">
              <form action="/home" method="POST">

                <!-- Username Input -->
                <div class="form-group">
                  <label for="inputUsername">Usuario</label>
                  <input type="text" class="form-control" id="inputUsername" name="username">
                </div>

                <!-- Email Input -->
                <div class="form-group">
                  <label for="inputEmail">Correo Electrónico</label>
                  <input type="email" class="form-control" id="inputEmail" name="userEmail" aria-describedby="emailHelp">
                  <small id="emailHelp" class="form-text ">No compartiremos tu correo con nadie.</small>
                </div>

                <!-- Password Input -->
                <div class="form-group">
                  <label for="inputPassword">Contraseña</label>
                  <input type="password" class="form-control" id="inputPassword" name="password">
                </div>

                <!-- Email Input -->
                <button type="submit" class="btn btn-primary btn-sign-up">Registrate en Simutrack</button>
                
              </form>
            </div>
          </div>


        </div>
      </div>

    </div>
  </section>

  <!-- Info Cards -->
  <section class="blue-light" id="info-cards">
    <div class="container-fluid container-general">
      <div class="row">

        <!-- Track Card -->
        <div class="col-lg-4">
          <i class="fas fa-glasses info-card-icons"></i>
          <p>Rastrea el desplezamiento de tus pinzas quirurgicas en tiempo real.</p>
        </div>

        <!-- Tutorial Card -->
        <div class="col-lg-4">
          <i class="fas fa-play info-card-icons"></i>
          <p>Mira tutoriales para realizar ejercicios quirúrgicos.</p>
        </div>

        <!-- Log card -->
        <div class="col-lg-4">
          <i class="fas fa-chart-line info-card-icons"></i>
          <p>Registra tus avances conforme vas progresando y obten parámetros de cada simulación realizada.</p>
        </div>

      </div>
    </div>
  </section>

  <%- include("partials/footer") -%>
